@model AgroAppMVC.Models.VariableAmbiente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VariableAmbiente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulo.ModuloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulo.ModuloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVariableAmbiente.NombreTipoVariableAmbiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVariableAmbiente.NombreTipoVariableAmbiente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VariableAmbienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
