@model IEnumerable<AgroAppMVC.Models.VariablesControl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VariableControl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planta.NombrePlanta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoVariableAmbiente.NombreTipoVariableAmbiente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VariableControl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Planta.NombrePlanta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVariableAmbiente.NombreTipoVariableAmbiente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VariableControlId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VariableControlId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VariableControlId })
        </td>
    </tr>
}

</table>
